@model LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary()
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
}