@using Zaggoware.BugTracker.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Titles.ApplicationName</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Navigation")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Titles.ApplicationName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @if (HtmlExtensions.IncludeTagger)
    {
        <script type="text/javascript" src="@Url.Content("~/scripts/Tagger.js")"></script>
        <script type="text/javascript">
            $(function () {
                console.log(Zaggoware.Tagging.Tagger);
                Zaggoware.Tagging.Tagger.initialize();
            });
        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
