<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Titles.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated || ViewBag.CurrentUser != null)
                {
                    <li>@Html.ActionLink(Titles.Dashboard, "Index", "Home")</li>
                    <li>@Html.ActionLink(Titles.Projects, "Index", "Organizations")</li>
                }
                else
                {
                    <li>@Html.ActionLink(Titles.Login, "Index", "Home")</li>
                    <li>@Html.ActionLink(Titles.About, "About", "Home")</li>
                }
            </ul>
        </div>
    </div>
</div>